<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="bmiCalculator" class="com.example.BmiCalculator">
		<property name="lowWeight" value="18.5" />
		<property name="normal" value="23" />
		<property name="overWeight" value="25" />
		<property name="obesity">
			<value>30</value>
		</property>
	</bean>
	<bean id="myInfo" class="com.example.MyInfo">
		<property name="name" value="한지민" />
		<property name="height" value="170.5" />
		<property name="weight" value="67" />
		<property name="hobby">
			<list>
				<value>수영</value>
				<value>요리</value>
				<value>독서</value>
			</list>
		</property>
		<property name="bmiCalculator">
			<ref bean="bmiCalculator" />
		</property>
	</bean>
</beans>
